.input-group-text {
  padding: 0.585rem 0.75rem;

  /* color: #212529; */
  text-align: center;
  white-space: nowrap;
  background-color: transparent !important;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
i,
.card-header h3 {
  color: #244d90 !important;
}

.card-header {
  background-color: #f1f0e8 !important;
}

.fa-mobile-alt,
.fa-envelope-open {
  font-size: 23px !important;
}

.btn-primary {
  background-color: #244d90 !important;
}

.btn-primary.disabled {
  background-color: #7193ca !important;
}
.input-group-prepend {
  width: 40px;
}
