<div class="about my-5 w-75 m-auto">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="lead">
                    <b>Airport Cab</b>{{ "HOME_SUMMARY_PAR_1" | translate }}
                </p>

                <p class="lead">
                    {{ "HOME_SUMMARY_PAR_2" | translate }}
                </p>

                <h5 class="mt-5">{{ "ABOUT_CONFORT_TITLE" | translate }}</h5>
                <p class="lead">
                    {{ "ABOUT_CONFORT_TXT" | translate }}
                </p>
                <div>
                    <div class="mt-5">
                        <button class="btn btn-primary" routerLink="/contact">{{ "CONTACT_US_BTN" | translate
                            }}</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="assets/images/airportcab.png" alt="airport cab brussels" class="img-fluid">
            </div>
        </div>

        <hr class="mt-5">

        <div class="airport-pickup">
            <h2 class="mt-2 mb-4 text-center"><b>{{ "POINTS_DE_RAMSSAGE" | translate }} </b></h2>


            <div class="row">
                <div class="col-sm-6">
                    <h3><b>{{ "BXL_AIRPORT" | translate }}</b></h3>
                    <div class="row mb-4">
                        <div class="col-md-6 ps-3 airport-pickup">

                            <p>{{ "POINTS_DE_RAMSSAGE_BXL" | translate }}</p>
                        </div>
                        <div class="col-md-6">
                            <img src="assets/images/Relay-brussels-airport.jpg" alt="Relay brussels airport"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3><b>{{ "CHR_AIRPORT" | translate }}</b></h3>
                    <div class="row mb-4">
                        <div class="col-md-6 ps-3 airport-pickup">
                            <p>{{ "POINTS_DE_RAMSSAGE_CHR" | translate }}</p>
                        </div>
                        <div class="col-md-6">
                            <img src="assets/images/sturbucks-airport-charleroi.jpg" alt="sturbucks airport charleroi"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>