<div class="about my-5 w-75 m-auto">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="lead">
                    <b>Airport Cab</b> {{ "ABOUT_PARAG_1" | translate }} <br>
                    {{ "ABOUT_PARAG_2" | translate }}
                </p>

                <h5 class="mt-5">{{ "ABOUT_CONFORT_TITLE" | translate }}</h5>
                <p class="lead">
                    {{ "ABOUT_CONFORT_TXT" | translate }}
                </p>
                <div>
                    <div class="mt-5">
                        <button class="btn btn-primary" routerLink="/contact">{{ "CONTACT_US_BTN" | translate
                            }}</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="assets/images/airportcab.png" alt="airport cab brussels" class="img-fluid">
            </div>
        </div>

        <hr class="mt-5">

        <h4 class="mt-5"><b>{{ "POINTS_DE_RAMSSAGE" | translate }} :</b></h4>


        <div class="row">
            <div class="col-sm-6">
                <p class="lead">
                    <b>À l’aéroport national de Bruxelles</b>, le chauffeur attend à l’entrée du hall devant le
                    «Café-café
                    Java»
                    avec l’inscription
                    de votre nom. Nous sommes à jour sur l’état du vol.
                </p>
            </div>
            <div class="col-sm-6">
                <p class="lead">
                    <b>À l’aéroport de Charleroi</b>, le conducteur attend à l’entrée du hall devant le «magasin de
                    chocolat
                    Léonidas» avec
                    l’inscription de votre nom . Nous sommes à jour sur l’état du vol.
                </p>
            </div>
        </div>




    </div>
</div>