<div class="about my-5 w-75 m-auto">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="lead">
                    <b>Airport Cab</b> is an online booking platform with headquarters in Brussels, specializing in a
                    taxi service pickup from and to the airport. <br>
                    We are passionate about our work, and our goal is to provide quality with professional drivers
                </p>

                <h5>Your comfort is our privilege</h5>
                <p class="lead">
                    Your reliable airport taxi and transfer always at a fixed price. No hidden fees. and personalised
                    service
                    resulting in a
                    service of excellence
                </p>
                <div>
                    <div class="mt-5">
                        <button class="btn btn-primary" routerLink="/contact">Contact us</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="assets/images/airportcab.png" alt="airport cab brussels" class="img-fluid">
            </div>
        </div>

        <hr class="mt-5">

        <h4 class="my-5">POINTS DE RAMASSAGE À L'AÉROPORT :</h4>


        <div class="row">
            <div class="col-sm-6">
                <p class="lead">
                    <b>À l’aéroport national de Bruxelles</b>, le chauffeur attend à l’entrée du hall devant le
                    «Café-café
                    Java»
                    avec l’inscription
                    de votre nom. Nous sommes à jour sur l’état du vol.
                </p>
            </div>
            <div class="col-sm-6">
                <p class="lead">
                    <b>À l’aéroport de Charleroi</b>, le conducteur attend à l’entrée du hall devant le «magasin de
                    chocolat
                    Léonidas» avec
                    l’inscription de votre nom . Nous sommes à jour sur l’état du vol.
                </p>
            </div>
        </div>




    </div>
</div>