<div class="container my5">
    <div class="row">
        <div class="col-sm-6 my-4">

            <h4 class="text-secondary">Airprort Cab VIP </h4>
            <div class="w-25">
                <hr>
            </div>

            <p class="vip-text"><b>Airprort Cab</b> est disponible pour vous 24 heures sur 24, 7 jours
                semaine. <b> Airprort Cab</b>
                met à votre
                disposition des limousines et vans de luxe, équipés en air conditionné, téléphone cellulaire et toutes
                options de comfort et de sécurité.
                Nos véhicules sont neufs et de couleurs discrètes. <br>
                Nous satisferons toutes demandes particulières concernant le service et le choix du véhicule.
                <br> <br>
                <a routerLink="/reservation"><button class="btn btn-primary"> {{ "BTN_RESERVE" |
                        translate}}</button></a>
            </p>
        </div>
        <div class="col-sm-6">
            <img src="assets/images/airport-cab.png" alt="limousine" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="assets/images/vip.jpg" alt="limousine" class="img-fluid w-75">
        </div>
        <div class="col-sm-6">
            <h5 class="text-secondary">Voitures avec chauffeur uniquement.</h5>

            <p class="vip-text">
                <b> Airprort Cab</b> met à votre disposition des chauffeurs expérimentés et multilingues, tous
                professionnels d'un
                métier dont la courtoisie, la serviabilité, la ponctualité et la discrétion sont les fondements.
            </p>
            <p>Leur connaissance approfondie des
                réseaux routiers belges, hollandais, luxembourgeois, allemands et français vous permettra d'atteindre
                les destinations
                de votre choix dans les meilleures conditions de comfort et de temps.</p>
            <hr class="my-4">
            <div class="text-center">
                <h4>AIRPORT CAB</h4>
                <p class="text-muted">Votre confort est notre privilège</p>
                <p>+32 482 45 45 45</p>

            </div>
        </div>
    </div>
</div>

<div class="container  liens-utiles">
    <hr class="my-4">

    <h6 class="mb-4">CI-DESSOUS, QUELQUES LIENS UTILES POUR VOTRE SÉJOUR EN BELGIQUE :</h6>
    <p>
        Horaires de départ et d'arrivée à l'Aéroport de Bruxelles National : <a href="https://www.brusselsairport.be"
            target="_blanc">www.brusselsairport.be</a></p>
    <p>
        TGV à destination de France, Pays-Bas et Allemagne : <a href="https://www.thalys.com"
            target="_blanc">www.thalys.com</a>
    </p>
    <p>
        TGV à destination du Royaume-Uni : <a href="https://www.eurostar.com" target="_blanc">www.eurostar.com</a>
    </p>
    <p>
        Prévisions météo en Belgique : <a href="https://www.meteobelgique.be" target="_blanc">www.meteobelgique.be</a>
    </p>
    <p>
        Office du Tourisme Belge : <a href="https://www.visitbelgium.com" target="_blanc">www.visitbelgium.com</a>
    </p>

</div>