<div class="topnav" [ngClass]="{ 'pt-5': fixedNav === true }">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <a href="https://airportcab.be/">
                    <img src="/assets/images/logo-airport-cab.png" alt="logo airport cab" width="150">
                </a>


            </div>
            <div class="col-md-6 text-center phones">
                <span class="me-2 phone fw-bold">+32 484 76 85 00 </span> | <span class="ms-2 phone fw-bold">+32 475 75
                    56 99</span>
            </div>

            <div class="col-md-3 mt-3 text-center">
                <img src="/assets/images/visa-mastercard.png" width="80" alt="credit card visa mastercard">
            </div>

        </div>

    </div>
</div>
<div class="main-nav ">
    <div class="container">
        <nav [ngClass]="{'fixed-top': fixedNav === true}" class="navbar navbar-expand-lg navbar-dark bg-warning ps-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav  mx-auto">
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                        <a class="nav-link" routerLink="" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">{{ "HOME" | translate}}</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                        <a class="nav-link" routerLink="about" routerLinkActive="active">{{ "ABOUT" | translate}}</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                        <a class="nav-link reservation-color" routerLink="reservation" routerLinkActive="active">{{
                            "RESERVATION" | translate}}</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                        <a class="nav-link" routerLink="VIP" routerLinkActive="active">SERVICE VIP</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                        <a class="nav-link" routerLink="faq" routerLinkActive="active">FAQ</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                        <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 text-center languages mb-2">
                <span class="lang img-shadow" (click)="changeCurrentLang('en')">
                    <img src="/assets/images/flags/United-Kingdom-Flag-icon.png" class="" alt="english uk flag"
                        title="EN" width="25">
                </span>

                <span class="lang img-shadow" (click)="changeCurrentLang('fr')">
                    <img src="/assets/images/flags/France-Flag-icon.png" class="" alt="france uk flag" title="FR"
                        width="25">
                </span>
                <span class="lang img-shadow" (click)="changeCurrentLang('nl')">
                    <img src="/assets/images/flags/Netherlands-Flag-icon.png" class="" alt="netherlands flag" title="NL"
                        width="25">
                </span>


            </div>
        </nav>
    </div>
</div>