<section class="home-reserve">
    <div class="home-reserve-container">
        <div class="container">
            <!-- Marquee  -->



            <div class="home-reservation-container pb-5 px-2">
                <h2 class="title">{{ "HOME_TITLE_RESERVATION" | translate}}</h2>
                <div class="marquee">
                    <div>
                        <h5 class="text-success mb-3">{{ "CANCEL_FREE" | translate}}</h5>
                    </div>
                </div>

                <form [formGroup]="formValidate" (ngSubmit)="onFormSubmit()">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group mt-3">
                                <label>{{ 'Home_RESERVE_NOM' | translate}}</label> <span class="text-danger"> *</span>
                                <input type="text" formControlName="fullName" class="form-control"
                                    [ngClass]="{'is-invalid': formValidate.get('fullName')?.errors && formValidate.get('fullName')?.touched }">
                                <!-- Full name Validation -->
                                <div *ngIf="formValidate.get('fullName')?.errors && formValidate.dirty">
                                    <div class="text-danger" *ngIf="formValidate.get('fullName')?.errors?.['required']">
                                        Name is required</div>
                                    <div class="text-danger"
                                        *ngIf="formValidate.get('fullName')?.errors?.['minlength']">
                                        Minimum length is 3 characters
                                    </div>
                                </div>
                            </div>

                            <div class=" mt-3">
                                <label>{{ 'Home_RESERVE_CHOIX' | translate}}</label>
                                <select [(ngModel)]="choiceTaxi" formControlName="choiceTaxi" class="form-select">
                                    <option value="standard">Standard</option>
                                    <option value="vip">VIP</option>
                                </select>
                                <div *ngIf="formValidate.get('choiceTaxi')?.errors && formValidate.dirty">
                                    <div class="text-danger"
                                        *ngIf="formValidate.get('choiceTaxi')?.errors?.['required']">
                                        Field is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <label for="from">{{ 'Home_RESERVE_RAMASSER' | translate}}</label>
                                <span class="text-danger"> *</span>
                                <app-google-places (setAddress)="getFrom($event)" adressType="geocode">
                                </app-google-places>

                                <label for="from" class="mt-2">{{ 'Home_RESERVE_DEPOSER' | translate}}</label>
                                <span class="text-danger"> *</span>
                                <app-google-places (setAddress)="getTo($event)" adressType="geocode">
                                </app-google-places>


                                <!-- <button type="button" class="btn btn-success mt-2" (click)="getDistance()"> Calculate
                                    distance</button> -->
                                <div class="finalPrice" *ngIf="!!estimatedPrice">
                                    <p class="bg-white  border border-primary rounded p-3 mt-2">
                                        <!-- <small class="text-primary">Distance:</small>
                                        <small>{{DistanceText}}</small><br> -->
                                        <!-- <small class="text-primary">Estimated Time:</small>
                                        <small>{{durationText}}</small><br> -->
                                        <small class="text-primary">Estimation:</small><small>{{estimatedPrice |
                                            number :
                                            '1.0-0'}} EUR</small> <br>
                                        <small class="text-primary">Acompte à payer (25%): </small> <small>{{
                                            estimatedPrice / 4 | number : '1.0-0'}} EUR</small>

                                    </p>
                                </div>

                            </div>






                            <div>
                                <!-- [ngClass]="{'d-none' :formValidate.value.dropOff == 'autre' || formValidate.value.pickUp == 'autre'  ||  (formValidate.get('dropOff')?.untouched || formValidate.get('pickUp')?.untouched) }" -->
                                <p class="text-success" *ngIf="!!estimationCost && estimationCost != 0">
                                    <br> Estimation: <b>A payer: {{estimationCost}}€</b>
                                </p>
                            </div>




                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div>
                                <label class="mt-3">{{ 'Home_RESERVE_TEL' | translate}} </label>
                                <span class="text-danger"> *</span>
                                <div class="phone">
                                    <div class="row">
                                        <div class="col-4">
                                            <select [(ngModel)]="phoneCode" formControlName="phoneCode"
                                                class="form-select">
                                                <option value="+31">+31</option>
                                                <option value="+32">+32</option>
                                                <option value="+33">+33</option>
                                                <option value="+34">+34</option>
                                                <option value="+39">+39</option>
                                                <option value="+41">+41</option>
                                                <option value="+44">+44</option>
                                                <option value="+49">+49</option>
                                            </select>
                                        </div>

                                        <div class="col-8 phone-padding">
                                            <input formControlName="phoneNumber" type="text"
                                                class="form-control is-invalid" placeholder="ex: 472958521"
                                                [ngClass]="{'is-invalid': formValidate.get('phoneNumber')?.errors && formValidate.get('phoneNumber')?.touched }">
                                        </div>
                                    </div>
                                </div>
                                <!-- Validate Phone -->
                                <div *ngIf="formValidate.get('phoneNumber')?.errors && formValidate.dirty">
                                    <div class="text-danger"
                                        *ngIf="formValidate.get('phoneNumber')?.errors?.['required']">
                                        Phone number is required
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="formValidate.get('phoneNumber')?.errors?.['minlength']">
                                        Phone number is not valid
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="formValidate.get('phoneNumber')?.errors?.['maxlength']">
                                        Phone number is too long
                                    </div>
                                </div>

                            </div>

                            <div>
                                <label class="mt-3">{{ 'Home_RESERVE_PERSONNES' | translate}}</label>
                                <span class="text-danger"> *</span>
                                <select formControlName="persons" class="form-select"
                                    [ngClass]="{'is-invalid': formValidate.get('persons')?.errors && formValidate.get('persons')?.touched }">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <!-- Validate persons number -->
                                <div *ngIf="formValidate.get('persons')?.errors && formValidate.dirty">
                                    <div class="text-danger" *ngIf="formValidate.get('persons')?.errors?.['required']">
                                        Field is required</div>
                                </div>
                            </div>
                            <div>
                                <label class="mt-3">{{ 'Home_RESERVE_SIEGE_ENFANT' | translate}}</label>
                                <select formControlName="seigeEnfant" class="form-select" [(ngModel)]="seigeEnfant"
                                    [ngClass]="{'is-invalid': formValidate.get('seigeEnfant')?.errors && formValidate.get('seigeEnfant')?.touched }">
                                    <option value="no">No</option>
                                    <option value="yes">Yes</option>
                                </select>

                            </div>

                            <div class="form-group mt-3">
                                <label>{{ 'Home_RESERVE_VOL' | translate}}</label> <span class="text-danger"></span>
                                <input type="text" formControlName="vol" [(ngModel)]="vol" class="form-control">
                            </div>


                        </div>
                        <div class="col-md-4 col-sm-6">

                            <div>
                                <label class="mt-3">E-mail</label>
                                <span class="text-danger"> *</span>
                                <input formControlName="email" type="text" placeholder="E-mail" class="form-control"
                                    [ngClass]="{'is-invalid': formValidate.get('email')?.errors && formValidate.get('email')?.touched }">
                                <div *ngIf="formValidate.get('email')?.errors && formValidate.dirty">
                                    <div class="text-danger" *ngIf="formValidate.get('email')?.errors?.['required']">
                                        Email address is required
                                    </div>

                                    <div class="text-danger" *ngIf="formValidate.get('email')?.errors?.['email']">
                                        Email address is not a valide email
                                    </div>
                                </div>
                            </div>

                            <div>
                                <label class="mt-3">{{ 'Home_RESERVE_DATE' | translate}}</label>
                                <span class="text-danger"> *</span>
                                <input formControlName="time" type="datetime-local" class="form-control"
                                    name="reservationDate"
                                    [ngClass]="{'is-invalid': formValidate.get('time')?.errors && formValidate.get('time')?.touched }">

                                <div *ngIf="formValidate.get('time')?.errors && formValidate.dirty">
                                    <div class="text-danger" *ngIf="formValidate.get('time')?.errors?.['required']">
                                        Time is required
                                    </div>
                                </div>
                            </div>

                            <div>
                                <label class="mt-3">{{ 'Home_RESERVE_VALISE' | translate}}</label>
                                <span class="text-danger"> *</span>
                                <select formControlName="suitecase" class="form-select"
                                    [ngClass]="{'is-invalid': formValidate.get('suitecase')?.errors && formValidate.get('suitecase')?.touched }">
                                    <option value="1">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <div *ngIf="formValidate.get('suitecase')?.errors && formValidate.dirty">
                                    <div class="text-danger"
                                        *ngIf="formValidate.get('suitecase')?.errors?.['required']">
                                        Field is required
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <hr class="my-4" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="pay">
                                <label class="mt-3">{{ 'Home_RESERVE_MODE_PAY' | translate}}</label>



                                <br>
                                <p class=" border border-primary bg-white rounded p-3 text-primary mt-3"
                                    style="max-width: 400px;">
                                    {{ 'PAYMENT_MODE' | translate}}

                                </p>


                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="my-3">{{ 'Home_RESERVE_INFO' | translate}}</label>
                            <input type="text" class="form-control" formControlName="additionalInfo">
                        </div>

                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="!formValidate.valid || !from || !to ">{{
                            'Home_RESERVE_BTN' | translate}}</button>
                    </div>

                </form>


            </div>
        </div>
    </div>
</section>