<section class="banner py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mt-5 text-center">
                <div class="heading-container">
                    <h1 class="fw-bold heading mt-3 text-white">Airport Cab</h1>
                    <h5 class="mt-3 text-white">{{ "HOME_CAPTION" | translate}}</h5>
                </div>
                <div class="heading-buttons mt-5">
                    <button class="btn btn-warning me-2" routerLink="/about">{{ "BTN_INFO" | translate}}</button>
                    <a href="#booking"><button class="btn btn-primary"> {{ "BTN_RESERVE" |
                            translate}}</button></a>
                </div>
            </div>
            <div class="col-md-7">
                <img src="/assets/images/airport-cab.png" alt="airport cab" class="img-fluid mt-5">
                <div class="pb-5" id="booking"></div>
            </div>

        </div>
    </div>


</section>

<section class="home-reserve">
    <div class="home-reserve-container">
        <div class="container">
            <div class="home-reservation-container pb-5 px-2">
                <h2 class="title">{{ "HOME_TITLE_RESERVATION" | translate}}</h2>

                <form [formGroup]="formValidate" (ngSubmit)="onFormSubmit()">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group mt-3">
                                <label>{{ 'Home_RESERVE_NOM' | translate}}</label> <span class="text-danger"> *</span>
                                <input type="text" formControlName="fullName" class="form-control"
                                    [ngClass]="{'is-invalid': formValidate.get('fullName')?.errors && formValidate.get('fullName')?.touched }">
                                <!-- Full name Validation -->
                                <div *ngIf="formValidate.get('fullName')?.errors && formValidate.dirty">
                                    <div class="text-danger" *ngIf="formValidate.get('fullName')?.errors?.['required']">
                                        Name is required</div>
                                    <div class="text-danger"
                                        *ngIf="formValidate.get('fullName')?.errors?.['minlength']">
                                        Minimum length is 3 characters
                                    </div>
                                </div>
                            </div>

                            <div>
                                <label class=" mt-3">{{ 'Home_RESERVE_CHOIX' | translate}}</label>
                                <select [(ngModel)]="choiceTaxi" formControlName="choiceTaxi" class="form-select">
                                    <option value="standard">Standard</option>
                                    <option value="vip">VIP</option>
                                </select>
                                <div *ngIf="formValidate.get('choiceTaxi')?.errors && formValidate.dirty">
                                    <div class="text-danger"
                                        *ngIf="formValidate.get('choiceTaxi')?.errors?.['required']">
                                        Field is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mt-3">
                                <label for="from">From</label>
                                <input type="text" id="from" class="form-control" placeholder="Départ"
                                    [(ngModel)]="from" [ngModelOptions]="{standalone:true}">
                                {{ from }}
                            </div>
                            <div class="form-group">
                                <label for="from">To</label>
                                <input type="text" id="to" class="form-control" placeholder="Destination">
                            </div>
                            <button (click)="gitDistance()"> Click</button>
                            <div class="mapDirection">
                                <div id="googleMap" class="d-none"></div>
                                <div id="output">

                                </div>
                            </div>



                            <div>
                                <!-- [ngClass]="{'d-none' :formValidate.value.dropOff == 'autre' || formValidate.value.pickUp == 'autre'  ||  (formValidate.get('dropOff')?.untouched || formValidate.get('pickUp')?.untouched) }" -->
                                <p class="text-success" *ngIf="!!estimationCost && estimationCost != 0">
                                    <br> Estimation: <b>A payer: {{estimationCost}}€</b>
                                </p>
                            </div>




                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div>
                                <label class="mt-3">{{ 'Home_RESERVE_TEL' | translate}} </label>
                                <span class="text-danger"> *</span>
                                <div class="phone">
                                    <div class="row">
                                        <div class="col-4">
                                            <select [(ngModel)]="phoneCode" formControlName="phoneCode"
                                                class="form-select">
                                                <option value="+31">+31</option>
                                                <option value="+32">+32</option>
                                                <option value="+33">+33</option>
                                                <option value="+34">+34</option>
                                                <option value="+39">+39</option>
                                                <option value="+41">+41</option>
                                                <option value="+44">+44</option>
                                                <option value="+49">+49</option>
                                            </select>
                                        </div>

                                        <div class="col-8 phone-padding">
                                            <input formControlName="phoneNumber" type="text"
                                                class="form-control is-invalid" placeholder="ex: 472958521"
                                                [ngClass]="{'is-invalid': formValidate.get('phoneNumber')?.errors && formValidate.get('phoneNumber')?.touched }">
                                        </div>
                                    </div>
                                </div>
                                <!-- Validate Phone -->
                                <div *ngIf="formValidate.get('phoneNumber')?.errors && formValidate.dirty">
                                    <div class="text-danger"
                                        *ngIf="formValidate.get('phoneNumber')?.errors?.['required']">
                                        Phone number is required
                                    </div>
                                    <div class="text-danger"
                                        *ngIf="formValidate.get('phoneNumber')?.errors?.['minlength']">
                                        Phone number is not valid
                                    </div>
                                </div>

                            </div>

                            <div>
                                <label class="mt-3">{{ 'Home_RESERVE_PERSONNES' | translate}}</label>
                                <span class="text-danger"> *</span>
                                <select formControlName="persons" class="form-select"
                                    [ngClass]="{'is-invalid': formValidate.get('persons')?.errors && formValidate.get('persons')?.touched }">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <!-- Validate persons number -->
                                <div *ngIf="formValidate.get('persons')?.errors && formValidate.dirty">
                                    <div class="text-danger" *ngIf="formValidate.get('persons')?.errors?.['required']">
                                        Field is required</div>
                                </div>
                            </div>


                            <!-- <div> -->
                            <!-- <label class="mt-3">{{ 'Home_RESERVE_DEPOSER' | translate}}</label> -->
                            <!-- <span class="text-danger"> *</span> -->
                            <!-- <select (change)="getDistProces()" formControlName="dropOff" class="form-select" -->
                            <!-- [ngClass]="{'is-invalid': formValidate.get('dropOff')?.errors && formValidate.get('dropOff')?.touched }"> -->
                            <!--   <option [disabled]="formValidate.value.pickUp == 'Bruxelles ville' "
                                        value="Bruxelles ville">
                                        {{ 'Home_RAMASSER_BXL' | translate}}</option>
                                    <option [disabled]="formValidate.value.pickUp == 'Bruxelles aéroport' "
                                        value="Bruxelles aéroport">{{
                                        'Home_RAMASSER_BXL_AIRPORT' | translate}}</option>
                                    <option [disabled]="formValidate.value.pickUp == 'Charleroi aéroport' "
                                        value="Charleroi aéroport">{{
                                        'Home_RAMASSER_CHR_AIRPORT' | translate}}</option>
                                    <option [disabled]="formValidate.value.pickUp == 'Ostende Aéroport' "
                                        value="Ostende Aéroport">{{
                                        'Home_RAMASSER_OOST_AIRPORT' | translate}}</option>
                                    <option value="autre">{{ 'Home_RAMASSER_AUTRE' | translate}}</option> -->
                            <!-- <ng-container *ngFor="let place of myPlaces">
                                        <option *ngIf="place['city_name'] != formValidate.get('pickUp')?.value"
                                            value="{{place['city_name']}}">{{place['city_name']}}</option>
                                    </ng-container> -->

                            <!-- <option value="other">{{ 'Home_RAMASSER_AUTRE' | translate}}</option> -->

                            <!-- </select> -->

                            <!-- <div [style.display]="formValidate.value.dropOff == 'other'?'block':'none'">
                                    <label class="text-warning mt-3">Tapez l'adresse pour déposer</label>
                                    <input formControlName="otherAddressDrop" type="text" class="form-control">
                                </div>

                                <!-- Validate dropOff -->
                            <!-- <div *ngIf="formValidate.get('dropOff')?.errors && formValidate.dirty"> -->
                            <!-- <div class="text-danger" *ngIf="formValidate.get('dropOff')?.errors?.['required']"> -->
                            Field is required
                            <!-- </div> -->
                            <!-- </div> --> -->


                            <!-- </div> -->




                        </div>
                        <div class="col-md-4 col-sm-6">

                            <div>
                                <label class="mt-3">E-mail</label>
                                <span class="text-danger"> *</span>
                                <input formControlName="email" type="text" placeholder="E-mail" class="form-control"
                                    [ngClass]="{'is-invalid': formValidate.get('email')?.errors && formValidate.get('email')?.touched }">
                                <div *ngIf="formValidate.get('email')?.errors && formValidate.dirty">
                                    <div class="text-danger" *ngIf="formValidate.get('email')?.errors?.['required']">
                                        Name is required
                                    </div>

                                    <div class="text-danger" *ngIf="formValidate.get('email')?.errors?.['email']">
                                        Email address is not a valide email
                                    </div>
                                </div>
                            </div>

                            <div>
                                <label class="mt-3">Time</label>
                                <span class="text-danger"> *</span>
                                <input formControlName="time" type="datetime-local" class="form-control"
                                    name="reservationDate"
                                    [ngClass]="{'is-invalid': formValidate.get('time')?.errors && formValidate.get('time')?.touched }">

                                <div *ngIf="formValidate.get('time')?.errors && formValidate.dirty">
                                    <div class="text-danger" *ngIf="formValidate.get('time')?.errors?.['required']">
                                        Time is required
                                    </div>
                                </div>
                            </div>

                            <div>
                                <label class="mt-3">{{ 'Home_RESERVE_VALISE' | translate}}</label>
                                <span class="text-danger"> *</span>
                                <select formControlName="suitecase" class="form-select"
                                    [ngClass]="{'is-invalid': formValidate.get('suitecase')?.errors && formValidate.get('suitecase')?.touched }">
                                    <option value="1">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <div *ngIf="formValidate.get('suitecase')?.errors && formValidate.dirty">
                                    <div class="text-danger"
                                        *ngIf="formValidate.get('suitecase')?.errors?.['required']">
                                        Field is required
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <hr class="my-4" />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="pay">
                                <h6 class="my-3">{{ 'Home_RESERVE_MODE_PAY' | translate}}</h6>
                                <div class="d-flex form-control">
                                    <label class="form-check-label">
                                        <input [(ngModel)]="payment" class="form-check-input" type="radio" value="cash"
                                            name="payment" formControlName="payment">
                                        {{ 'Home_RESERVE_MODE_CASH' | translate}}
                                    </label> &nbsp; &nbsp;&nbsp;

                                    <label class="form-check-label">
                                        <input [(ngModel)]="payment" class="form-check-input" type="radio" value="visa"
                                            name="payment" formControlName="payment">
                                        {{ 'Home_RESERVE_MODE_CARD' | translate}}
                                    </label>
                                </div>


                                <br>


                                <!-- Payment proccess -->
                                <div class="payment-proccess"
                                    [ngClass]="{'d-none': formValidate.value.payment === 'cash'}">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">Make a payment</h5>
                                        </div>
                                        <div class="card-body">
                                            You will pay:
                                            <div>
                                                <div class="row">
                                                    <div class="col-9">
                                                        <input type="number" disabled class="form-control pe-0"
                                                            value="40">
                                                    </div>
                                                    <div class="col-3 ps-0">EUR</div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <p>Select the payment platform</p>
                                                    <div class="payment-img">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <img src="assets/images/payment/paypal-logo.png"
                                                                    alt="paypal" class="img-fluid shadow" width="100"
                                                                    style="cursor: pointer;">
                                                            </div>
                                                            <div class="col-4">
                                                                <img src="assets/images/payment/visa-mastercard-logo.png"
                                                                    alt="visa/mastercard" class="img-fluid shadow"
                                                                    width="100" style="cursor: pointer;">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <h6 class="my-3">{{ 'Home_RESERVE_INFO' | translate}}</h6>
                            <input type="text" class="form-control" formControlName="additionalInfo">
                        </div>

                    </div>
                    <!-- <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary" [disabled]="formValidate.value.dropOff == '' || formValidate.value.pickUp == '' || formValidate.get('pickUp')?.untouched || formValidate.get('dropOff')?.untouched ">{{
                            'Home_RESERVE_BTN' | translate}}</button>
                    </div> -->
                    <!-- <app-payment *ngIf="!!checkoutID" [checkoutID]="checkoutID"></app-payment> -->
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary"
                            [disabled]="formValidate.value.from == '' || formValidate.value.to == '' || formValidate.get('from')?.untouched || formValidate.get('to')?.untouched ">{{
                            'Home_RESERVE_BTN' | translate}}</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>

<!-- Bonjour,

Votre demande a bien été envoyée et sera traitée dans les plus brefs délais.

Bonne journée,

L'équipe de Airport cab -->



<section class="summary">
    <div class="container">
        <h2 class="title">{{ "HOME_TITLE_SUMMARY" | translate}}</h2>
        <div class="row">
            <div class="col-md-7 pt-5">
                <div class="summary-paragraph w-75 my-4 mx-auto">
                    <p class="lead">
                        <b>Airport Cab</b> {{ "HOME_SUMMARY_PAR_1" | translate }}
                    </p>
                    <p class="lead">
                        {{ "HOME_SUMMARY_PAR_2" | translate }}
                    </p>


                    <div class="mt-5">
                        <button class="btn btn-primary" routerLink="/about">{{ "BTN_INFO" | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="/assets/images/taxi.png" alt="airport tranfers bruxelles" class="img-fluid mt-4">


            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="title">{{ "HOME_TITLE_GUARANTY" | translate}}</div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex flex-column justify-content-around">
                <div class="py-2 d-flex">
                    <div class="services-icon">
                        <fa-icon class="bg-warning text-white me-3" [icon]="faHandHoldingUsd"></fa-icon>
                    </div>
                    <div class="services-text">
                        <h6 class="fw-bold">{{ "HOME_GUARANTY_TITLE_1" | translate}}</h6>
                        <p>{{ "HOME_GUARANTY_PAR_1" | translate}}</p>
                    </div>
                </div>
                <div class="py-2 d-flex">
                    <div class="services-icon">
                        <fa-icon class="bg-warning text-white me-3" [icon]="faCcVisa"></fa-icon>
                    </div>
                    <div class="services-text">
                        <h6 class="fw-bold">{{ "HOME_GUARANTY_TITLE_2" | translate}}</h6>
                        <p>{{ "HOME_GUARANTY_PAR_2" | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="/assets/images/airport-transfers.png" alt="Airport Cab bruxelles" class="img-fluid">
            </div>
            <div class="col-md-3 d-flex flex-column justify-content-around">
                <div class="py-2 d-flex">
                    <div class="services-icon">
                        <fa-icon class="bg-warning text-white me-3" [icon]="faVirus"></fa-icon>
                    </div>
                    <div class="services-text">
                        <h6 class="fw-bold">{{ "HOME_GUARANTY_TITLE_3" | translate}}</h6>
                        <p>{{ "HOME_GUARANTY_PAR_3" | translate}}</p>
                    </div>
                </div>
                <div class="py-2 d-flex">
                    <div class="services-icon">
                        <fa-icon class="bg-warning text-white me-3" [icon]="faFeatherAlt"></fa-icon>
                    </div>
                    <div class="services-text">
                        <h6 class="fw-bold">{{ "HOME_GUARANTY_TITLE_4" | translate}}</h6>
                        <p>{{ "HOME_GUARANTY_PAR_4" | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="vip-home">
    <div class="title">Service VIP
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="/assets/images/vip-home.jpeg" alt="taxi vip bruxelles" class="img-fluid">
            </div>
            <div class="col-md-7 p-5">
                <p class="lead">
                    <b>Airport Cab</b>{{ "HOME_VIP_PAR_1" | translate }}
                </p>

                <p class="lead">
                    {{ "HOME_VIP_PAR_2" | translate }}
                </p>

                <div class="mt-5">
                    <button class="btn btn-primary" routerLink="/VIP">{{ "BTN_INFO" | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</section>