/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.lead {
  line-height: 25px;
  font-size: 1.1rem !important;
}

p {
  color: #555;
}

.btn-primary {
  background-color: #244d90;
  border-color: #244d90;
}

.btn-primary:hover {
  background-color: #1f5bbe;
}

.title {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #1f5bbe;
  padding-top: 45px;
  padding-bottom: 30px;
  text-shadow: 4px 3px 0 #bcbcbc;
}

#googleMap {
  width: 80%;
  height: 400px;
}

.facebook {
  position: fixed;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  cursor: pointer;
  z-index: 9999999;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999999;
}

.whatsapp img {
  box-shadow: 1px 3px 5px grey;
}

.blue-snackbar {
  background: #009688;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-h6,
.mat-typography h6 {
  font-size: 16px;
}
.mat-h5,
.mat-typography h5 {
  font-size: 18px;
  font-weight: bold;
}

.mat-card {
  padding: 0 0 0 16px !important;
}
.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0 !important;
}
.mat-label ::placeholder {
  padding-left: 120px !important;
}
.mat-form-field-infix {
  border: 0;
}
